body {
	background: #fafafa;
	color: #333333;
	margin-top: 5rem;
	min-width: fit-content; 
}

h1, h2, h3, h4, h5, h6 {
	color: #444444;
}

ul {
	margin: 0;
}

.bg-steel {
	background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
	color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.entry-detail-body{
	margin: 18px 0;
	padding: 12px;
	border: 1px solid #eee;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.entry-detail-label{
	font-weight: bold;
}

div.table-container {
    display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.little-box {
	float: left;
	width: 25%;
	height: 20px;
	border: 1px solid rgba(0, 0, 0, .2);
}

.carousel-item{
	height:100%;
}

.nav-tabs .nav-item{
	background-color: #272e38;
	border:solid 1px black;
}

.form-group{
	margin-right: 6px;
}

.form-group label{
	margin-right: 4px;
}