{% extends "psa/layouts/base.html" %}

{% block content %} 

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{%  url 'psa-home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'analysis-home' %}">Analysis</a></li>
			<li class="breadcrumb-item"><a href="{%  url 'automated-home' %}">Automated Analyses</a></li>
			<li class="breadcrumb-item"><a href="{%  url 'automated-day-detail' object.day.id %}">{{ object.day.date|date:"F j, Y" }}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ object.arrival_time|time:"g:i:s a" }}</li>
		</ol>
	</nav>

	<div class="row">		

		<div class="ml-0 col-md-6">
			{% include 'psa/partials/image_section.html' %}
		</div>

		<div class="col-md-6">
			<div class="card bg-light">
				<div class="card-header row align-items-center">
					
					<div class="col" ><h2>{{ object.arrival_time|date:"F j, Y, g:i:s a" }} Automated Analysis</h2></div>
					
					<div class="text-right">
						<a href="{% url 'analysis-entry-detail' object.id %}" class="btn btn-sm btn-info" title='View Analysis Summary'><i class="fas fa-eye"></i><i class="far fa-eye"></i></i></a>
						{% if object.status == 'needs manual analysis' %}						
							<a href="{% url 'manual-create' object.id %}" class="btn btn-sm btn-secondary" title='Make Manual Analysis'><i class="fas fa-edit"></i></a>
						{% elif object.status == 'complete' %}
							<a href="{% url 'manual-entry-detail' object.id %}" class="btn btn-sm btn-secondary" title='View Manual Analysis'><i class="far fa-eye"></i></a>
						{% endif %}
					</div>

				</div>            
				
				<div class="card-body">

					<ul class="nav nav-tabs nav-justified" id="myInfoTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">Basic</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="iai-tab" data-toggle="tab" href="#iai" role="tab" aria-controls="iai" aria-selected="false">IAI</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pr-tab" data-toggle="tab" href="#pr" role="tab" aria-controls="pr" aria-selected="false">PR</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="license-plate-tab" data-toggle="tab" href="#license-plate" role="tab" aria-controls="license-plate" aria-selected="false">License Plate</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="timing-tab" data-toggle="tab" href="#timing" role="tab" aria-controls="timing" aria-selected="false">Timing</a>
						</li>
					</ul>
					<div class="tab-content" id="myInfoTabContent">
						<div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
							{% include 'psa/partials/entry_basic.html' with entry_context='automated' %}
						</div>
						
						<div class="tab-pane fade" id="iai" role="tabpanel" aria-labelledby="iai-tab">
							{% include 'psa/partials/iai_auto_div.html' %}
						</div>

						<div class="tab-pane fade" id="pr" role="tabpanel" aria-labelledby="pr-tab">
							{% include 'psa/partials/pr_auto_div.html' %}

						</div>

						<div class="tab-pane fade" id="license-plate" role="tabpanel" aria-labelledby="license-plate-tab">
							{% include 'psa/partials/plate_auto_div.html' %}
						</div>


						<div class="tab-pane fade" id="timing" role="tabpanel" aria-labelledby="timing-tab">
							{% include 'psa/partials/entry_timing_div.html' %}
						</div>
					</div>

				</div>
			</div>			
		</div>
		
	</div>
{% endblock content %}

{% block script_content %}
	{% include 'psa/partials/iai_colour_script.html' %}

	{% include 'psa/partials/pr_colour_script.html' %}
{% endblock script_content %}