{% extends "psa/layouts/base.html" %}
{% load index %}

{% block content %} 

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{%  url 'psa-home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'analysis-home' %}">Analysis</a></li>
			<li class="breadcrumb-item"><a href="{%  url 'analysis-day-detail' object.day.id %}">{{ object.day.date|date:"F j, Y" }}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ object.arrival_time|time:"g:i:s a" }}</li>
		</ol>
	</nav>

	<div class="row fluid text-center">		

		<div class="ml-0 fluid col-md-12">
			{% include 'psa/partials/image_section.html' %}
		</div>

    </div>

    <div class="row fluid">
        


		<div class="col-md-12">
			<div class="card bg-light">
				<div class="card-header row align-items-center">
					<div class="col" ><h2>{{ object.arrival_time|date:"F j, Y, g:i:s a" }} Analysis</h2></div>
					
                    <div class="text-right">
                        <a href="{% url 'automated-entry-detail' object.id %}" class="btn btn-sm btn-primary" title='View Automated Analysis'><i class="fas fa-eye"></i></a>
                        {% if object.status == 'needs manual analysis' %}
                            <a href="{% url 'manual-create' object.id %}" class="btn btn-sm btn-secondary" title='Make Manual Analysis'><i class="fas fa-edit"></i></a>
                        {% elif object.status == 'complete' %}
                            <a href="{% url 'manual-entry-detail' object.id %}" class="btn btn-sm btn-secondary" title='View Manual Analysis'><i class="far fa-eye"></i></a>
                        {% endif %}
                    </div>

				</div>            
				
				<div class="card-body">

					<ul class="nav nav-tabs nav-justified" id="myInfoTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">Basic</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="iai-tab" data-toggle="tab" href="#iai" role="tab" aria-controls="iai" aria-selected="false">IAI</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pr-tab" data-toggle="tab" href="#pr" role="tab" aria-controls="pr" aria-selected="false">PR</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="license-plate-tab" data-toggle="tab" href="#license-plate" role="tab" aria-controls="license-plate" aria-selected="false">License Plate</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="timing-tab" data-toggle="tab" href="#timing" role="tab" aria-controls="timing" aria-selected="false">Timing</a>
						</li>
					</ul>
					
					<div class="tab-content" id="myInfoTabContent">
						<div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
							{% include 'psa/partials/entry_basic.html' with entry_context='analysis' %}
						</div>
						
						<div class="tab-pane fade" id="iai" role="tabpanel" aria-labelledby="iai-tab">
							
							<div class="row">
								<div class="col {% if object.manualanalysis %} border-right border-dark {% endif %}">
									<label class="label entry-detail-label" for="iai_auto">Auto:</label>
									{% include 'psa/partials/iai_auto_div.html' %}
								</div>

								{% if object.manualanalysis %}
									<div class="col">
										<label class="label entry-detail-label" for="iai_manual">Manual:</label>
										{% include 'psa/partials/iai_manual_div.html' %}

									</div>
								{% endif %}

							</div>

						</div>

						<div class="tab-pane fade" id="pr" role="tabpanel" aria-labelledby="pr-tab">
							
							<div class="row">
								<div class="col border-right border-dark">
									<label class="label entry-detail-label" for="pr_auto">Auto:</label>
									{% include 'psa/partials/pr_auto_div.html' %}

								</div>

								{% if object.manualanalysis %}
									<div class="col">
										<label class="label entry-detail-label" for="pr_manual">Manual:</label>
										{% include 'psa/partials/pr_manual_div.html' %}

									</div>
								{% endif %}

							</div>

						</div>


						<div class="tab-pane fade" id="license-plate" role="tabpanel" aria-labelledby="license-plate-tab">
							<div class="row">
								<div class="col border-right border-dark">
									<label class="label entry-detail-label" for="plate_auto">Auto:</label>
									{% include 'psa/partials/plate_auto_div.html' %}
								</div>
								
								{% if object.manualanalysis %}
									<div class="col">
										<label class="label entry-detail-label" for="plate_manual">Manual:</label>
										{% include 'psa/partials/plate_manual_div.html' %}
									</div>
								{% endif %}
							</div>	
							<div></div>
						</div>


						<div class="tab-pane fade" id="timing" role="tabpanel" aria-labelledby="timing-tab">
							{% include 'psa/partials/entry_timing_div.html' %}
						</div>
					</div>

				</div>
			</div>			
		</div>
		
	</div>
{% endblock content %}

{% block script_content %}	
	{% include 'psa/partials/iai_colour_script.html' %}

	{% include 'psa/partials/pr_colour_script.html' %}
{% endblock script_content %}