{% extends "psa/layouts/base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block head_content %}
    
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    
{% endblock head_content %}

{% block content %} 

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{%  url 'psa-home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Analysis</li>
        </ol>
    </nav>

    <div class="card bg-light">
        <div class="card-header row align-items-center">
            <div class="col" ><h2>Analysis Home ({{ table.rows|length }} {% if table.rows|length == 1 %}entry{% else %}entries{% endif %})</h2></div>

            <div class="ml-2 col text-right">
                <a href="{% url 'automated-home' %}" class="btn btn-sm btn-primary" title='View All Auto Analyses'><i class="fas fa-eye"></i></a>
                <a href="{% url 'manual-home' %}" class="btn btn-sm btn-secondary" title='View All Manual Analyses'><i class="far fa-eye"></i></a>
                <a href="{% url 'analysis_statistics-home' %}" class="btn btn-sm btn-secondary" title='View All Statistics'><i class="fas fa-chart-bar"></i></a>
            </div>

        </div>            
        
        <div class="card-body">
            {% if filter %}
                <form action="" method="get" class="form form-inline">
                    {{ filter.form|crispy }}
                    <a href="{%  url 'analysis-home' %}">Clear all filters</a>
                    <input type="submit" />
                </form>
            {% endif %}

            {% if table != None %}
                {%  render_table table %}
            {% else %}
                <h2>NO DATA</h2>
            {% endif %}

            <div class="text-center">
                <h3>({{ table.rows|length }} {% if table.rows|length == 1 %}entry{% else %}entries{% endif %})</h3>
            </div>
        </div>
    </div>


{% endblock content %}

{% block script_content %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_tried_feed_in').select2();
            $('#id_successful_feed_in').select2();
            $('#id_status').select2();
            $('#id_automated_iaivehicledetection').select2();
            $('#id_automated_iaivehicleprediction').select2();
            $('#id_automated_prvehicledetection').select2();
            $('#id_automated_prvehicleprediction').select2();
            $('#id_manual_iaivehicledetection').select2();
            $('#id_manual_prvehicledetection').select2();
            $('#id_manual_prediction').select2();

        });
    </script>
{% endblock script_content%}