{% extends "psa/layouts/base.html" %}
{% load render_table from django_tables2 %}

{% block head_content %}
    
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    
{% endblock head_content %}

{% block content %} 

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>

    <div class="card bg-light">
        <div class="card-header row align-items-center">
            <div class="col" ><h2>PSA HOME ({{ dates_table.rows|length }} {% if dates_table.rows|length == 1 %}day{% else %}days{% endif %})</h2></div>
            <div class="ml-2 col text-right">
                <a href="{% url 'psa-auto-analyze-days' %}?rotate=False&feed_in=False" title="Make auto analysis for all" class="btn btn-sm btn-primary"><i class="fas fa-cogs"></i></a>
                <a href="{% url 'psa-auto-analyze-days' %}?rotate=True&feed_in=False" class="btn btn-sm btn-primary" title='Make Auto Analysis for all (rotated)'><i class="fas fa-sync"></i></a>
                <a href="{% url 'psa-auto-analyze-days' %}?rotate=False&feed_in=True" class="btn btn-sm btn-primary" title='Make Auto Analysis for all (fed in)'><i class="fas fa-recycle"></i></a>
                <a href="{% url 'psa-auto-analyze-days' %}?rotate=True&feed_in=True" class="btn btn-sm btn-primary" title='Make Auto Analysis for all (rotated and fed in)'><i class="fas fa-sync"></i><i class="fas fa-recycle"></i></a>
                <a href="{% url 'psa-add-days' %}" title="Add all to database" class="btn btn-sm btn-secondary"><i class="fas fa-upload"></i></a>
                <a href="{% url 'analysis-home' %}" class="btn btn-sm btn-info" title='View All Analyses'><i class="fas fa-eye"></i><i class="far fa-eye"></i></a>
                <a href="{% url 'automated-home' %}" class="btn btn-sm btn-primary" title='View All Auto Analyses'><i class="fas fa-eye"></i></a>
                <a href="{% url 'manual-home' %}" class="btn btn-sm btn-secondary" title='View All Manual Analyses'><i class="far fa-eye"></i></a>
                <a href="{% url 'analysis_statistics-home' %}" class="btn btn-sm btn-secondary" title='View All Statistics'><i class="fas fa-chart-bar"></i></a>
            </div>
        </div>            
        
        <div class="card-body">
            <div>                
                <form method = "GET"> 
                    {{ form }} 
                    <a href="{%  url 'psa-home' %}">Clear filter</a>
                    <input type="submit" />
                </form> 
            </div>
            

            {% if dates_table != None %}
                {% render_table dates_table %}
            {% else %}
                <h2>NO DATA</h2>
            {% endif %}
        </div>
    </div>


{% endblock content %}

{% block script_content %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_status').select2();
        });
    </script>
{% endblock script_content%}