{% extends "psa/layouts/base.html" %}
{% load render_table from django_tables2 %}
{% block content %} 

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{%  url 'psa-home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Populate PSA Tables</li>
        </ol>
    </nav>

    <div class="card bg-light">
        <div class="card-header row align-items-center">
            <div class="col" ><h2>Populate PSA Tables</h2></div>
            {% if have_unpop == True %}
                <div class="ml-2 col text-right">
                    <a href='?pop_table=all' title="Populate all tables" class="btn btn-sm btn-secondary"><i class="fas fa-cogs"></i></a>
                </div>
            {% endif %}
        </div>            
        
        <div class="card-body">
            {% if table != None %}
                {%  render_table table %}
            {% else %}
                <h2>NO DATA</h2>
            {% endif %}
        </div>
    </div>


{% endblock content %}