{% if 'view_analysis_summary' in record.actions %}
    <a href="{% url 'analysis-entry-detail' record.id %}" class="btn btn-sm btn-info" title='View Analysis Summary'><i class="fas fa-eye"></i><i class="far fa-eye"></i></i></a>
{% endif %}

{% if 'view_analysis_summary_list' in record.actions %}
    <a href="{% url 'analysis-day-detail' record.id %}" class="btn btn-sm btn-info" title='View All Analysis Summaries'><i class="fas fa-eye"></i><i class="far fa-eye"></i></i></a>
{% endif %}

{% if 'make_auto_analysis' in record.actions %} 
    <a href="{% url 'psa-auto-analyze-day' %}?date={{record.date}}&rotate=False&feed_in=False" class="btn btn-sm btn-primary" title='Make Auto Analysis'><i class="fas fa-cog"></i></a>
    <a href="{% url 'psa-auto-analyze-day' %}?date={{record.date}}&rotate=True&feed_in=False" class="btn btn-sm btn-primary" title='Make Auto Analysis (rotated)'><i class="fas fa-sync"></i></a>
    <a href="{% url 'psa-auto-analyze-day' %}?date={{record.date}}&rotate=False&feed_in=True" class="btn btn-sm btn-primary" title='Make Auto Analysis (fed in)'><i class="fas fa-recycle"></i></a>
    <a href="{% url 'psa-auto-analyze-day' %}?date={{record.date}}&rotate=True&feed_in=True" class="btn btn-sm btn-primary" title='Make Auto Analysis (rotated and fed in)'><i class="fas fa-sync"></i><i class="fas fa-recycle"></i></a>
{% endif %}

{% if 'view_auto_analysis' in record.actions %}
    <a href="{% url 'automated-entry-detail' record.id %}" class="btn btn-sm btn-primary" title='View Auto Analysis'><i class="fas fa-eye"></i></a>
{% endif %}

{% if 'view_auto_analysis_list' in record.actions %}
    <a href="{% url 'automated-day-detail' record.id %}" class="btn btn-sm btn-primary" title='View All Auto Analyses'><i class="fas fa-eye"></i></a>
{% endif %}
    
{% if 'add_to_db' in record.actions %}
    <a href="{% url 'psa-add-day' record.path %}" class="btn btn-sm btn-secondary" title='Add To DB'><i class="fas fa-upload"></i></a>
{% endif %}
    
{% if 'make_manual_analysis' in record.actions %}
    <a href="{% url 'manual-create' record.id %}" class="btn btn-sm btn-secondary" title='Make Manual Analysis'><i class="fas fa-edit"></i></a>
{% endif %}
    
{% if 'view_manual_analysis' in record.actions %}
    <a href="{% url 'manual-entry-detail' record.id %}" class="btn btn-sm btn-secondary" title='View Manual Analysis'><i class="far fa-eye"></i></a>
{% endif %}

{% if 'view_manual_analysis_list' in record.actions %}
    <a href="{% url 'manual-day-detail' record.id %}" class="btn btn-sm btn-secondary" title='View All Manual Analyses'><i class="fas fa-eye"></i></a>
{% endif %}

{% if 'view_stats' in record.actions %}
    <a href="{% url 'analysis_statistics-home' %}?date_after={{ record.date }}&date_before={{ record.date }}" class="btn btn-sm btn-secondary" title='View Statistics'><i class="fas fa-chart-bar"></i></a>
{% endif %}
    
{% if 'view_json' in record.actions %}
    <a href="{% url 'psa-open-file' record.json_file.url %}" target="_blank" class="btn btn-sm btn-secondary" title='View JSON'><i class="fas fa-file"></i></a>
{% endif %} 

{% if 'view_log' in record.actions %}
    <a href="{% url 'psa-open-file' record.log_file.url %}" target="_blank" class="btn btn-sm btn-secondary" title='View Log'><i class="far fa-file"></i></a>
{% endif %}  

{% if 'populate_table' in record.actions %}
    <a href="?pop_table={{record.name}}" title="Populate {{record.name}} table" class="btn btn-sm btn-secondary"><i class="fas fa-cog"></i></a>
{% endif %}    