<div class="text-center">
    <div class="text-center" style="display: inline-block;">
        <div class="h2">Day Timing for {{ day.date|date:"F j, Y" }} Automated Analysis (H:M:S)</div>

        <div class="row justify-content-md-center">
            <label class="label entry-detail-label pr-1 pl-5" for="total_get_duration_time">Total Get duration time:</label>
            <div id="total_get_duration_time">
                {{ day.daytiming.total_get_duration_time }}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <label class="label entry-detail-label pr-1 pl-5" for="total_total_imageai_detection_time">Total Imageai detection time:</label>
            <div id="total_total_imageai_detection_time">
                {{ day.daytiming.total_imageai_detection_time }}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <label class="label entry-detail-label pr-1 pl-5" for="total_total_imageai_prediction_time">Total Imageai prediction time:</label>
            <div id="total_total_imageai_prediction_time">
                {{ day.daytiming.total_imageai_prediction_time }}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <label class="label entry-detail-label pr-1 pl-5" for="total_total_imageai_colour_detection_time">Total Imageai colour detection time:</label>
            <div id="total_total_imageai_colour_detection_time">
                {{ day.daytiming.total_imageai_colour_detection_time }}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <label class="label entry-detail-label pr-1 pl-5" for="total_total_imageai_analysis_time">Total imageai analysis time:</label>
            <div id="total_total_imageai_analysis_time">
                {{ day.daytiming.total_imageai_analysis_time }}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <label class="label entry-detail-label pr-1 pl-5" for="total_total_pr_detection_time">Total Pr detection time:</label>
            <div id="total_total_pr_detection_time">
                {{ day.daytiming.total_pr_detection_time }}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <label class="label entry-detail-label pr-1 pl-5" for="total_total_pr_prediction_time">Total Pr prediction time:</label>
            <div id="total_total_pr_prediction_time">
                {{ day.daytiming.total_pr_prediction_time }}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <label class="label entry-detail-label pr-1 pl-5" for="total_total_pr_colour_detection_time">Total Pr colour detection time:</label>
            <div id="total_total_pr_colour_detection_time">
                {{ day.daytiming.total_pr_colour_detection_time }}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <label class="label entry-detail-label pr-1 pl-5" for="total_total_pr_analysis_time">Total pr analysis time:</label>
            <div id="total_total_pr_analysis_time">
                {{ day.daytiming.total_pr_analysis_time }}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <label class="label entry-detail-label pr-1 pl-5" for="total_total_image_analysis_time">Total image analysis time:</label>
            <div id="total_total_image_analysis_time">
                {{ day.daytiming.total_image_analysis_time }}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <label class="label entry-detail-label pr-1 pl-5" for="total_total_entry_time">Total Entry time (calculated):</label>
            <div id="total_total_entry_time">
                {{ day.daytiming.total_entry_time }}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <label class="label entry-detail-label pr-1 pl-5" for="total_total_day_time">Total Day time:</label>
            <div id="total_total_day_time">
                {{ day.daytiming.total_day_time }}
            </div>
        </div>
            
    </div>
</div>  