<div>
    <label class="label entry-detail-label pr-1" for="timing">Timing (H:M:S):</label>
    <div id="timing" >
        <div class="row">
            <label class="label entry-detail-label pr-1 pl-5" for="get_duration_time">Get duration time:</label>
            <div id="get_duration_time">
                {{ object.automatedanalysis.timing.get_duration_time }}
            </div>
        </div>
        
        <div class="row">
            <label class="label entry-detail-label pr-1 pl-5" for="imageai_detection_time">Imageai detection time:</label>
            <div id="imageai_detection_time">
                {{ object.automatedanalysis.timing.imageai_detection_time }}
            </div>
        </div>

        <div class="row">
            <label class="label entry-detail-label pr-1 pl-5" for="imageai_prediction_time">Imageai prediction time:</label>
            <div id="imageai_prediction_time">
                {{ object.automatedanalysis.timing.imageai_prediction_time }}
            </div>
        </div>

        <div class="row">
            <label class="label entry-detail-label pr-1 pl-5" for="imageai_colour_detection_time">Imageai colour detection time:</label>
            <div id="imageai_colour_detection_time">
                {{ object.automatedanalysis.timing.imageai_colour_detection_time }}
            </div>
        </div>

        <div class="row">
            <label class="label entry-detail-label pr-1 pl-5" for="total_imageai_analysis_time">Total imageai analysis time:</label>
            <div id="total_imageai_analysis_time">
                {{ object.automatedanalysis.timing.total_imageai_analysis_time }}
            </div>
        </div>

        <div class="row">
            <label class="label entry-detail-label pr-1 pl-5" for="pr_detection_time">Pr detection time:</label>
            <div id="pr_detection_time">
                {{ object.automatedanalysis.timing.pr_detection_time }}
            </div>
        </div>

        <div class="row">
            <label class="label entry-detail-label pr-1 pl-5" for="pr_prediction_time">Pr prediction time:</label>
            <div id="pr_prediction_time">
                {{ object.automatedanalysis.timing.pr_prediction_time }}
            </div>
        </div>

        <div class="row">
            <label class="label entry-detail-label pr-1 pl-5" for="pr_colour_detection_time">Pr colour detection time:</label>
            <div id="pr_colour_detection_time">
                {{ object.automatedanalysis.timing.pr_colour_detection_time }}
            </div>
        </div>

        <div class="row">
            <label class="label entry-detail-label pr-1 pl-5" for="total_pr_analysis_time">Total pr analysis time:</label>
            <div id="total_pr_analysis_time">
                {{ object.automatedanalysis.timing.total_pr_analysis_time }}
            </div>
        </div>

        <div class="row">
            <label class="label entry-detail-label pr-1 pl-5" for="total_image_analysis_time">Total image analysis time:</label>
            <div id="total_image_analysis_time">
                {{ object.automatedanalysis.timing.total_image_analysis_time }}
            </div>
        </div>

        <div class="row">
            <label class="label entry-detail-label pr-1 pl-5" for="entry_total_time">Entry total time:</label>
            <div id="entry_total_time">
                {{ object.automatedanalysis.timing.entry_total_time }}
            </div>
        </div>

    </div>          
</div>