<div id="basc-info">
    <div class="row">
        <label class="label entry-detail-label pr-1  pl-3" for="day">Day:</label>
        <div id="day">
            {{ object.day.date|date:"F j, Y" }}
        </div>
    </div>

    <div class="row">
        <label class="label entry-detail-label pr-1  pl-3" for="status">Status:</label>
        <div id="status" >
            {{ object.status }}
        </div>
    </div>

    <div class="row">
        <label class="label entry-detail-label pr-1  pl-3" for="arrival_time">Arrival Time:</label>
        <div id="arrival_time" >
            {{ object.arrival_time|time:"g:i:s a" }}
        </div>
    </div>

    <div class="row">
        <label class="label entry-detail-label pr-1  pl-3" for="departure_time">Departure Time:</label>
        <div id="departure_time" >
            {{ object.departure_time|time:"g:i:s a" }}
        </div>
    </div>

    {% if entry_context == 'analysis' %}<!-- analysis/entry/detail -->
        <div>
            <label class="label entry-detail-label pr-1" for="duration">Duration (H:M:S):</label>
            <div id="duration" >
                <div class="row">
                    <label class="label entry-detail-label pr-1 pl-5" for="duration_auto">Automated:</label>
                    <div id="duration_auto">
                        {{ object.automatedanalysis.duration }}
                    </div>
                </div>
                {% if object.manualanalysis %}
                    <div class="row">
                        <label class="label entry-detail-label pr-1 pl-5" for="duration_manual">Manual:</label>
                        <div id="duration_manual">
                            {{ object.manualanalysis.duration }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% elif entry_context == 'automated' %} <!-- automated/entry/detail -->
        <div class="row">
            <label class="label entry-detail-label pr-1  pl-3" for="duration">Duration (H:M:S):</label>
            <div id="duration" >
                {{ object.automatedanalysis.duration }}
            </div>
        </div>
    {% elif entry_context == 'manual' %}<!-- manual/entry/detail -->
        <div class="row">
            <label class="label entry-detail-label pr-1  pl-3" for="duration">Duration (H:M:S):</label>
            <div id="duration" >
                {{ object.manualanalysis.duration }}
            </div>
        </div>
    {% endif %}

    <div>
        <label class="label entry-detail-label pr-1" for="feed_in">Feed In:</label>              
        <div id="feed_in" >
            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="tried_feed_in">Tried Feed In:</label>
                <div id="tried_feed_in">
                    {{ object.day.tried_feed_in }}
                </div>
            </div>
            {% if object.day.tried_feed_in %}
                <div class="row">
                    <label class="label entry-detail-label pr-1 pl-5" for="successful_feed_in">Successful Feed In:</label>
                    <div id="successful_feed_in">
                        {{ object.automatedanalysis.successful_feed_in }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>