{% load index %}

<div>
    <label class="label entry-detail-label pl-2" for="iai_auto_colour_detection">IAI colour detections:</label>
    <div id="iai_auto_colour_detection">
        <div id="container" style="width: 75%; height: 500px;">
            <canvas id="iaiAutoColourDetectionsChart"></canvas>
        </div>
        <div class="table-container">  
            <table class="table table-condensed table-vertical-center">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Percentage</th>
                        <th>Detected RGB</th>
                        <th>Detected Hex</th>
                        <th>Sample of actual colour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name in iai_auto_colour_names %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ iai_auto_colour_percentages|index:name }}%</td>
                            <td>({{ iai_auto_colour_detected_r|index:name }}, {{ iai_auto_colour_detected_g|index:name }}, {{ iai_auto_colour_detected_b|index:name }})</td>
                            <td>{{ iai_auto_colour_detected_hex|index:name }}</td>
                            <td><div class="little-box" style="background:{{ iai_auto_colour_detected_hex|index:name }}; width:100%"></div></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>