<div id="iai_manual">
    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="iai_manual_vehicle_detection_class">IAI vehicle detection class: </label>
        <div id="iai_manual_vehicle_detection_class">
            {{ object.manualanalysis.iai_detection_class }}
        </div>
    </div>

    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="iai_manual_vehicle_prediction_class">Prediction class: </label>
        <div id="iai_manual_vehicle_prediction_class">{{ object.manualanalysis.prediction_class }}</div>
    </div>

    <div>
        <label class="label entry-detail-label pl-2" for="iai_manual_colour_section">IAI colour info:</label>
        <div id="iai_manual_colour_section">
            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="iai_dom_colour">Dominant colour:</label>
                <div id="iai_dom_colour">
                    {{ object.manualanalysis.dominant_colour }}
                </div>
            </div>

            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="dom_colour_det_by_iai">Dominant colour detected by IAI:</label>
                <div id="dom_colour_det_by_iai">
                    {{ object.manualanalysis.dominant_colour_detected_by_iai }}
                </div>
            </div>

            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="dom_colour_identified_as_dom_by_iai">Dominant colour identified by IAI as dominant:</label>
                <div id="dom_colour_identified_as_dom_by_iai">
                    {{ object.manualanalysis.dominant_colour_identified_as_dominant_by_iai }}                    
                </div>
            </div>
        </div>
    </div>

    <div>
        <label class="label entry-detail-label pl-2" for="iai_manual_image_section">IAI image info:</label>
        <div id="iai_manual_image_section">
            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="iai_image_angle">Image angle:</label>
                <div id="iai_image_angle">
                    {{ object.manualanalysis.image_angle }}
                </div>
            </div>

            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="iai_image_extract_correct">IAI extracted correct object:</label>
                <div id="iai_image_extract_correct">
                    {{ object.manualanalysis.iai_extract_correct }}
                </div>
            </div>

            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="iai_image_extract_entire">IAI extracted entire object:</label>
                <div id="iai_image_extract_entire">
                    {{ object.manualanalysis.iai_extract_entire }}
                </div>
            </div>

        </div>
    </div>
</div>