<div id="iai_auto">
    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="iai_auto_vehicle_detection_class">IAI vehicle detection class: </label>
        <div id="iai_auto_vehicle_detection_class">
            {{ object.automatedanalysis.iaivehicledetection.type }}
        </div>
    </div>

    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="iai_auto_vehicle_detection_probability">IAI vehicle detection probability:</label> 
        <div id="iai_auto_vehicle_detection_probability">
            {{ object.automatedanalysis.iaivehicledetection.probability }}%
        </div>
    </div>

    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="iai_auto_prediction_class">IAI vehicle prediction class:</label> 
        <div id="iai_auto_prediction_class">
            {{ object.automatedanalysis.iaivehicleprediction.type }}
        </div>
    </div>

    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="iai_auto_prediction_probability">IAI vehicle prediction probability:</label> 
        <div id="iai_auto_prediction_probability">
            {{ object.automatedanalysis.iaivehicleprediction.probability }}%
        </div>
    </div>


    {% include 'psa/partials/iai_colour_div.html' %}

</div>