<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>


<script>
	var iai_auto_colour_names = {{ iai_auto_colour_names|safe }}
    var iai_auto_colour_percentages ={{ iai_auto_colour_percentages|safe }}
    var iai_auto_colour_chart_colours = {{ iai_auto_colour_chart_colours|safe }}
    var iai_auto_colour_datasets = []

    
    iai_auto_colour_datasets = [
        {
            "label": 'percentage',
            "data":Object.values(iai_auto_colour_percentages),
            "backgroundColor":Object.values(iai_auto_colour_chart_colours),
        }
    ]
    new Chart(document.getElementById("iaiAutoColourDetectionsChart").getContext('2d'),
    {
        "type":"pie",
        "data":
        {
            "labels":{{ iai_auto_colour_names|safe }},
            "datasets":iai_auto_colour_datasets
        },
        "options":{
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: 'IAI Auto Colour Detections'
            },
            plugins: {
                datalabels: {
                    formatter: (value, ctx) => {
                        return value.toFixed(2) + '%';
                    },
                    anchor: 'end',
                    align: 'end',
                    rotation: 90
                }
            },
            layout: {
                padding: {
                bottom: 45
                }
            }
        }
	});

    Chart.Legend.prototype.afterFit = function() {
        this.height = this.height + 50;
    };
</script>