{% load index %}

<ul class="nav nav-tabs nav-justified" id="myImageTab" role="tablist">
    {% for image in entry.images.all %}
        <li class="nav-item">
            {% if forloop.first %}
                <a class="nav-link active" id="{{ image.type }}-tab" data-toggle="tab" href="#{{ image.type }}" role="tab" aria-controls="{{ image.type }}" aria-selected="true">{{ image.type.name|format_title }}</a>
            {% else %}
                <a class="nav-link" id="{{ image.type }}-tab" data-toggle="tab" href="#{{ image.type }}" role="tab" aria-controls="{{ image.type }}" aria-selected="false">{{ image.type.name|format_title }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<div class="tab-content text-center" id="myImageTabContent">
    {% for image in entry.images.all %}
        {% if forloop.first %}
            <div class="tab-pane fade show active" id="{{ image.type }}" role="tabpanel" aria-labelledby="{{ image.type }}-tab">
        {% else %}
            
            <div class="tab-pane fade" id="{{ image.type }}" role="tabpanel" aria-labelledby="{{ image.type }}-tab">
        {% endif %}
            <div class="item text-center">
                <img src="{{ image.image.url }}"  id="{{ image.type }}" class="d-block image-fluid" style="height:25%;width:50%;margin:0 auto;" alt="{{ image.type }}">
                <label class="label entry-detail-label" for="{{ image.type }}">
                    {{ image.type.name|format_title }} 
                    
                    {% if image.type.name == 'extracted_imageai' and entry.day.tried_feed_in and not 'default'  in image.image.url %}
                        (was fed in)
                    {% endif %}

                    {% if image.type.name == 'extracted_pr' and entry.automatedanalysis.successful_feed_in %}
                        (produced by feed in)
                    {% endif %}
                        
                </label>
            </div>
        </div>
    {% endfor %}
    
</div>