<div id="plate_manual">
										
    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="manual_plate_number">License plate number:</label>
        <div id="manual_plate_number">
            {{ object.manualanalysis.license_plate_number }}
        </div>
    </div>

    <div>
        <label class="label entry-detail-label pl-2" for="plate_manual_image_section">Plate image info:</label>
        <div id="plate_manual_image_section">
            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="plate_image_angle">Image angle:</label>
                <div id="plate_image_angle">
                    {{ object.manualanalysis.image_angle }}
                </div>
            </div>

            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="plate_image_extract_correct">Correct plate extracted:</label>
                <div id="plate_image_extract_correct">
                    {{ object.manualanalysis.plate_extract_correct }}
                </div>
            </div>

            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="plate_image_extract_entire">Entire plate extracted:</label>
                <div id="plate_image_extract_entire">
                    {{ object.manualanalysis.plate_extract_entire }}
                </div>
            </div>

        </div>
    </div>

</div>