<div id="plate_auto">
										
    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="auto_plate_number">License plate number:</label>
        <div id="auto_plate_number">
            {{ object.automatedanalysis.licenseplate.number }}
        </div>
    </div>

    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="auto_plate_probability">License plate probability: </label>
        <div id="auto_plate_probability">
            {{ object.automatedanalysis.licenseplate.probability }}%
        </div>
    </div>

</div>