<div id="pr_auto">
    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="pr_auto_vehicle_detection_class">PR vehicle detection class: </label>
        <div id="pr_auto_vehicle_detection_class">
            {{ object.automatedanalysis.prvehicledetection.type }}
        </div>
    </div>

    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="pr_auto_vehicle_detection_probability">PR vehicle detection probability:</label> 
        <div id="pr_auto_vehicle_detection_probability">
            {{ object.automatedanalysis.prvehicledetection.probability }}%
        </div>
    </div>

    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="pr_auto_prediction_class">PR vehicle prediction class:</label> 
        <div id="pr_auto_prediction_class">
            {{ object.automatedanalysis.prvehicleprediction.type }}
        </div>
    </div>

    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="pr_auto_prediction_probability">PR vehicle prediction probability:</label> 
        <div id="pr_auto_prediction_probability">
            {{ object.automatedanalysis.prvehicleprediction.probability }}%
        </div>
    </div>


    {% include 'psa/partials/pr_colour_div.html' %}

</div>