<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

<script>
    var pr_auto_colour_names = {{ pr_auto_colour_names|safe }}
    var pr_auto_colour_percentages ={{ pr_auto_colour_percentages|safe }}
    var pr_auto_colour_chart_colours = {{ pr_auto_colour_chart_colours|safe }}
    var pr_auto_colour_datasets = []

    
    pr_auto_colour_datasets = [
        {
            "label": 'percentage',
            "data":Object.values(pr_auto_colour_percentages),
            "backgroundColor":Object.values(pr_auto_colour_chart_colours),
        }
    ]
    new Chart(document.getElementById("prAutoColourDetectionsChart").getContext('2d'),
    {
        "type":"pie",
        "data":
        {
            "labels":{{ pr_auto_colour_names|safe }},
            "datasets":pr_auto_colour_datasets
        },
        "options":{
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: 'PR Auto Colour Detections'
            },
            plugins: {
                datalabels: {
                    formatter: (value, ctx) => {
                        return value.toFixed(2) + '%';
                    },
                    anchor: 'end',
                    align: 'end',
                    rotation: 90
                }
            },
            layout: {
                padding: {
                bottom: 45
                }
            }
        }
    });

	Chart.Legend.prototype.afterFit = function() {
		this.height = this.height + 50;
	};
</script>