<div id="pr_manual">
    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="pr_manual_vehicle_detection_class">PR vehicle detection class: </label>
        <div id="pr_manual_vehicle_detection_class">
            {{ object.manualanalysis.pr_detection_class }}
        </div>
    </div>

    <div class="row">
        <label class="label entry-detail-label pr-1  pl-4" for="pr_manual_vehicle_prediction_class">Prediction class: </label>
        <div>{{ object.manualanalysis.prediction_class }}</div>
    </div>

    <div>
        <label class="label entry-detail-label pl-2" for="pr_manual_colour_section">PR colour info:</label>
        <div id="pr_manual_colour_section">
            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="pr_dom_colour">Dominant colour:</label>
                <div id="pr_dom_colour">
                    {{ object.manualanalysis.dominant_colour }}
                </div>
            </div>

            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="dom_colour_det_by_pr">Dominant colour detected by PR:</label>
                <div id="dom_colour_det_by_pr">
                    {{ object.manualanalysis.dominant_colour_detected_by_pr }}
                </div>
            </div>

            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="dom_colour_identified_as_dom_by_pr">Dominant colour identified by PR as dominant:</label>
                <div id="dom_colour_identified_as_dom_by_pr">
                    {{ object.manualanalysis.dominant_colour_identified_as_dominant_by_pr }}
                </div>
            </div>
        </div>
    </div>

    <div>
        <label class="label entry-detail-label pl-2" for="pr_manual_image_section">PR image info:</label>
        <div id="pr_manual_image_section">
            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="pr_image_angle">Image angle:</label>
                <div id="pr_image_angle">
                    {{ object.manualanalysis.image_angle }}
                </div>
            </div>

            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="pr_image_extract_correct">PR extracted correct object:</label>
                <div id="pr_image_extract_correct">
                    {{ object.manualanalysis.pr_extract_correct }}
                </div>
            </div>

            <div class="row">
                <label class="label entry-detail-label pr-1 pl-5" for="pr_image_extract_entire">PR extracted entire object:</label>
                <div id="pr_image_extract_entire">
                    {{ object.manualanalysis.pr_extract_entire }}
                </div>
            </div>

        </div>
    </div>
</div>