{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

	<link rel="stylesheet" href="{%static 'psa/main.css'%}">
	
	{% block head_content %}{% endblock %}	
	
	{% if title %}
		<title>PSA - {{ title }}</title>
	{% else %}
		<title>PSA</title>
	{% endif %}

	<link rel="shortcut icon" type="image/png" href="{% static 'psa/favicon.ico' %}"/>

</head>
<body>

	<header class="site-header">
		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
				<a class="navbar-brand mr-4" href="/">PSA</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarToggle">
					<div class="navbar-nav mx-auto">
						<div class="dropdown show">
							<a class="nav-item nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								PSA
							</a>
							
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="{% url 'psa-home' %}">Home</a>
								<a class="dropdown-item" href="{% url 'psa-populate-tables' %}">Populate Tables</a>
							</div>
						</div>
						<div class="dropdown show">
							<a class="nav-item nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Analysis
							</a>
							
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="{% url 'analysis-home' %}">All</a>
								<a class="dropdown-item" href="{% url 'automated-home' %}">Automated</a>
								<a class="dropdown-item" href="{% url 'manual-home' %}">Manual</a>
							</div>
						</div>

						<a class="nav-item nav-link" href="{% url 'analysis_statistics-home' %}">Statistics</a>
						
					</div>
				</div>
			</div>
		</nav>
	</header>

	<main role="main" class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-{{ message.tags }}">
							{{ message }}
						</div>	
					{% endfor %}
				{% endif %}
				{% block content %}{% endblock %}
			</div>
		</div>
	</main>
	
	<footer class="text-center py-3">
		&copy; 2020 Mellissa Marie (412002117)
	</footer>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


	{% block script_content %}
	{% endblock %}
</body>
</html>