{% extends "psa/layouts/base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load index %}

{% block head_content %}
    
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    
{% endblock head_content %}

{% block content %} 

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{%  url 'psa-home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'analysis-home' %}">Analysis</a></li>
            <li class="breadcrumb-item"><a href="{%  url 'manual-home' %}">Manual Analyses</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ day.date|date:"F j, Y" }}</li>
        </ol>
    </nav>

    <div class="card bg-light">
        <div class="card-header row align-items-center">
            {% with tables|index:0 as table %}
                <div class="col" >
                    <h2>
                        {{ day.date|date:"F j, Y" }} Manual Summary 

                        {% if day.tried_feed_in %}
                            (tried feed in) 
                        {% else %}
                            (didn't try feed in) 
                        {% endif %}

                        ({{ table.rows|length }} {% if table.rows|length == 1 %}entry{% else %}entries{% endif %})
                    </h2>
                </div>
            {% endwith %}

            <div class="text-right">
                <a href="{% url 'analysis-day-detail' day.id %}" class="btn btn-sm btn-info" title='View Analysis Summaries'><i class="fas fa-eye"></i><i class="far fa-eye"></i></i></a>
                <a href="{% url 'automated-day-detail' day.id %}" class="btn btn-sm btn-primary" title='View All Automated Analyses'><i class="fas fa-eye"></i></a>
                <a href="{% url 'analysis_statistics-home' %}?date_after={{ day.date|date:'Y-m-d' }}&date_before={{ day.date|date:'Y-m-d' }}" class="btn btn-sm btn-secondary" title='View Statistics'><i class="fas fa-chart-bar"></i></a>
                <a href="{% url 'psa-open-file' day.json_file.url %}" target="_blank" class="btn btn-sm btn-secondary" title='View JSON'><i class="fas fa-file"></i></a>
                <a href="{% url 'psa-open-file' day.log_file.url %}" class="btn btn-sm btn-secondary" title='View Log'><i class="far fa-file"></i></a>
            </div>
        </div>            
        
        <div class="card-body">
            <ul class="nav nav-tabs nav-justified" id="analysisDayDetailTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="entry-info-tab" data-toggle="tab" href="#entry-info" role="tab" aria-controls="entry-info" aria-selected="true">Entry Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="entry-timing-tab" data-toggle="tab" href="#entry-timing" role="tab" aria-controls="entry-timing" aria-selected="false">Entry Timing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="day-timing-tab" data-toggle="tab" href="#day-timing" role="tab" aria-controls="day-timing" aria-selected="false">Day Timing</a>
                </li>
            </ul>


            <div class="tab-content" id="manualDayDetailTabContent">
                
                <div class="tab-pane fade show active" id="entry-info" role="tabpanel" aria-labelledby="entry-info-tab">
                    {% if filter %}
                        <form action="" method="get" class="form form-inline">
                            {{ filter.form|crispy }}
                            <a href="{%  url 'manual-day-detail' day.id %}">Clear all filters</a>
                            <input type="submit" />
                        </form>
                    {% endif %}
                    
                    {% with tables|index:0 as table %}
                        {% if table != None %}
                            {%  render_table table %}
                            
                            <div class="text-center">
                                <h3>({{ table.rows|length }} {% if table.rows|length == 1 %}entry{% else %}entries{% endif %})</h3>
                            </div>
                                
                        {% else %}
                            <h2>NO DATA</h2>
                        {% endif %}
                    {% endwith %}
                </div>

                <div class="tab-pane fade" id="entry-timing" role="tabpanel" aria-labelledby="entry-timing-tab">
                    {% with tables|index:1 as table %}
                        {% if table != None %}
                            {%  render_table table %}
                            
                            <div class="text-center">
                                <h3>({{ table.rows|length }} {% if table.rows|length == 1 %}entry{% else %}entries{% endif %})</h3>
                            </div>
                                
                        {% else %}
                            <h2>NO DATA</h2>
                        {% endif %}
                    {% endwith %}
                </div> 

                <div class="tab-pane fade" id="day-timing" role="tabpanel" aria-labelledby="day-timing-tab">
                    {% include 'psa/partials/day_timing_section.html' %}
                </div>

            </div>

        </div>
    </div>


{% endblock content %}

{% block script_content %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    
    <script>
        $(document).ready(function() {
            function formatColour (colour) {
                var name = colour.text.replace(/ /g,'')
                var $colour = $(
                    '<span class="row fluid mx-auto"> <span class="little-box col" style="background:'+ name +'"></span> <span class="col">' + colour.text + '</span> </span>'
                );
                return $colour;
            };

            $('#id_successful_feed_in').select2();
            $('#id_iaivehicledetection').select2();
            $('#id_prvehicledetection').select2();
            $('#id_prediction').select2();
            $('#id_dominant_colour').select2( { templateResult: formatColour } );
            $('#id_dominant_colour_detected_by_iai').select2();
            $('#id_dominant_colour_identified_as_dominant_by_iai').select2();
            $('#id_dominant_colour_detected_by_pr').select2();
            $('#id_dominant_colour_identified_as_dominant_by_pr').select2();
            $('#id_image_angle').select2();
            $('#id_iai_extract_correct').select2();
            $('#id_pr_extract_correct').select2();
            $('#id_plate_extract_correct').select2();
        });
    </script>
{% endblock script_content%}