{% extends "psa/layouts/base.html" %}
{% load crispy_forms_tags %}

{% block head_content %}
    
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    
{% endblock head_content %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{%  url 'psa-home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'analysis-home' %}">Analysis</a></li>
            {% if entry.status == 'complete' %}
                <li class="breadcrumb-item"><a href="{% url 'manual-home' %}">Manual Analysis</a></li>
                <li class="breadcrumb-item"><a href="{% url 'manual-day-detail' entry.day.id %}">{{ entry.day }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'manual-entry-detail' entry.id %}">{{ entry.arrival_time|time:"h:i:s a" }}</a></li> 
                <li class="breadcrumb-item active" aria-current="page">Update</li> 
            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'analysis-day-detail' entry.day.id %}">{{ entry.day }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ entry.arrival_time|time:"h:i:s a" }} Manual Analysis Creation</li> 
            {% endif %}
        </ol>
    </nav>


    <div class="row">		

		<div class="ml-0 col-md-6 border-right border-dark">
			<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">Basic Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="iai-tab" data-toggle="tab" href="#iai" role="tab" aria-controls="iai" aria-selected="true">IAI Colours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pr-tab" data-toggle="tab" href="#pr" role="tab" aria-controls="pr" aria-selected="true">PR Colours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="true">Images</a>
                </li>
				
			</ul>
			<div class="tab-content text-center" id="myTabContent">
                <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <div>Day: {{ entry.day }}</div>
                    <div>Status: {{ entry.status }}</div>
                    <div>Arrival Time: {{ entry.arrival_time|time:"H:i:s a" }}</div>
                    <div>Departure Time: {{ entry.departure_time|time:"H:i:s a" }}</div>
                </div>
                <div class="tab-pane fade text-left" id="iai" role="tabpanel" aria-labelledby="iai-tab">
                    {% include 'psa/partials/iai_colour_div.html' %}
                </div>
                <div class="tab-pane fade text-left" id="pr" role="tabpanel" aria-labelledby="pr-tab">
                    {% include 'psa/partials/pr_colour_div.html' %}
                </div>
                <div class="tab-pane fade text-left" id="images" role="tabpanel" aria-labelledby="images-tab">
                    {% include 'psa/partials/image_section.html' %}
                </div>
				
			</div>
		</div>

        <div class="col-md-6" style="text-align:justify;">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{{ entry }} Manual Analysis</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">
                        {% if entry.status == 'complete' %}
                            Update
                        {% else %}
                            Create
                        {% endif %}
                    </button>
                    <button class="btn btn-outline-secondary" type="button">
                        <a 
                            href="
                            {% if entry.status == 'complete' %}   
                                {% url 'manual-entry-detail' entry.id %}
                            {% else %}
                                {% url 'analysis-day-detail' entry.day.id %}
                            {% endif %}">
                                Cancel
                        </a>
                    </button>
                </div>
            </form>
        </div>

    </div>
    
{% endblock content %}

{% block script_content %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    
    
    {% if entry.status == 'complete' %}
        {% include 'manual/manualanalysis_form_partials/update_script.html' %}
    {% else %}
        {% include 'manual/manualanalysis_form_partials/creation_script.html' %}
    {% endif %}
        

    {% include 'psa/partials/iai_colour_script.html' %}

    {% include 'psa/partials/pr_colour_script.html' %}
{% endblock script_content%}