<script>
    $(document).ready(function() {
        function formatColour (colour) {
            var name = colour.text.replace(/ /g,'')
            var $colour = $(
                '<span class="row fluid mx-auto"> <span class="little-box col" style="background:'+ name +'"></span> <span class="col">' + colour.text + '</span> </span>'
            );
            return $colour;
        };

        $('#div_id_dominant_colour_identified_as_dominant_by_iai').hide();
        $('#id_dominant_colour_detected_by_iai').change(function(){
            if(this.checked){
                $('#div_id_dominant_colour_identified_as_dominant_by_iai').show();
                $('#id_dominant_colour_identified_as_dominant_by_iai').select2();
            }
            else{
                $('#div_id_dominant_colour_identified_as_dominant_by_iai').hide();
                }
        });

        $('#div_id_dominant_colour_identified_as_dominant_by_pr').hide();
        $('#id_dominant_colour_detected_by_pr').change(function(){
            if(this.checked){
                $('#div_id_dominant_colour_identified_as_dominant_by_pr').show();
                $('#id_dominant_colour_identified_as_dominant_by_pr').select2();
            }
            else{
                $('#div_id_dominant_colour_identified_as_dominant_by_pr').hide();
                }
        });

        $('#div_id_iai_extract_entire').hide();
        $('#id_iai_extract_correct').change(function(){
            if(this.value == 'true'){
                $('#div_id_iai_extract_entire').show();
                $('#id_iai_extract_entire').select2();
            }
            else{
                $('#div_id_iai_extract_entire').hide();
                }
        });

        $('#div_id_pr_extract_entire').hide();
        $('#id_pr_extract_correct').change(function(){
            if(this.value == 'true'){
                $('#div_id_pr_extract_entire').show();
                $('#id_pr_extract_entire').select2();
            }
            else{
                $('#div_id_pr_extract_entire').hide();
                }
        });

        $('#div_id_plate_extract_entire').hide();
        $('#id_plate_extract_correct').change(function(){
            if(this.value == 'true'){
                $('#div_id_plate_extract_entire').show();
                $('#id_plate_extract_entire').select2();
            }
            else{
                $('#div_id_plate_extract_entire').hide();
                }
        });

        $('#id_prediction_class').select2();
        $('#id_iai_detection_class').select2();
        $('#id_pr_detection_class').select2();
        $('#id_dominant_colour').select2( { templateResult: formatColour } );
        $('#id_image_angle').select2();
        $('#id_iai_extract_correct').select2();
        $('#id_pr_extract_correct').select2();
        $('#id_plate_extract_correct').select2();

    });
</script>