<script>
    $(document).ready(function() {
        function formatColour (colour) {
            var name = colour.text.replace(/ /g,'')
            var $colour = $(
                '<span class="row fluid mx-auto"> <span class="little-box col" style="background:'+ name +'"></span> <span class="col">' + colour.text + '</span> </span>'
            );
            return $colour;
        };

        $('#id_prediction_class').select2();
        $('#id_iai_detection_class').select2();
        $('#id_pr_detection_class').select2();
        $('#id_dominant_colour').select2( { templateResult: formatColour } );
        $('#id_dominant_colour_identified_as_dominant_by_iai').select2();
        $('#id_dominant_colour_identified_as_dominant_by_pr').select2();
        $('#id_image_angle').select2();
        $('#id_iai_extract_correct').select2();
        $('#id_iai_extract_entire').select2();
        $('#id_pr_extract_correct').select2();
        $('#id_pr_extract_entire').select2();
        $('#id_plate_extract_correct').select2();
        $('#id_plate_extract_entire').select2();

    });
</script>